################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/src.generated.metadata.v7.bin
/.vs/ProjectEvaluation/src.generated.projects.v7.bin
/.vs/src.generated/DesignTimeBuild/.dtbcache.v2
/.vs/src.generated/FileContentIndex/0a69f246-4653-428e-a0c7-781f676c506f.vsidx
/.vs/src.generated/FileContentIndex/5816d2f0-c4c8-48fc-ab61-bc9b32fcf526.vsidx
/.vs/src.generated/FileContentIndex/5f5dbe73-1805-43db-adfa-dfd516850ce3.vsidx
/.vs/src.generated/FileContentIndex/6aad1ad0-1c72-4196-94b6-bd3b9e6f79b0.vsidx
/.vs/src.generated/FileContentIndex/8d8e2b62-9218-4a77-9114-0fd7c4be948a.vsidx
/.vs/src.generated/FileContentIndex/b4d31bba-5e52-4cde-a2e2-b854792390ae.vsidx
/.vs/src.generated/FileContentIndex/c4f11c03-f30e-4578-b138-80a90407bbde.vsidx
/.vs/src.generated/FileContentIndex/d77c1827-6d44-401a-a265-180234270028.vsidx
/.vs/src.generated/FileContentIndex/de84b9a8-0e93-452f-bde6-191af2834bdc.vsidx
/.vs/src.generated/FileContentIndex/fe7a11cc-808a-4c06-ad72-703f900971ce.vsidx
/Threelab.API.User/bin/Debug/net8.0/Threelab.API.User.exe
/Threelab.API.User/bin/Debug/net8.0/Threelab.API.User.pdb
/Threelab.API.User/bin/Debug/net8.0/Threelab.Domain.dll
/Threelab.API.User/bin/Debug/net8.0/Threelab.Domain.pdb
/Threelab.API.User/bin/Debug/net8.0/Threelab.Infrastructure.dll
/Threelab.API.User/bin/Debug/net8.0/Threelab.Infrastructure.pdb
/Threelab.API.User/bin/Debug/net8.0/Threelab.Service.dll
/Threelab.API.User/bin/Debug/net8.0/Threelab.Service.pdb
/Threelab.API.User/obj/Debug/net8.0/apphost.exe
/Threelab.API.User/obj/Debug/net8.0/ref/Threelab.API.User.dll
/Threelab.API.User/obj/Debug/net8.0/refint/Threelab.API.User.dll
/Threelab.API.User/obj/Debug/net8.0/Threelab.API.User.AssemblyInfo.cs
/Threelab.API.User/obj/Debug/net8.0/Threelab.API.User.AssemblyInfoInputs.cache
/Threelab.API.User/obj/Debug/net8.0/Threelab.API.User.csproj.AssemblyReference.cache
/Threelab.API.User/obj/Debug/net8.0/Threelab.API.User.dll
/Threelab.API.User/obj/Debug/net8.0/Threelab.API.User.MvcApplicationPartsAssemblyInfo.cs
/Threelab.API.User/obj/Debug/net8.0/Threelab.API.User.pdb
/Threelab.API.User/obj/Debug/net8.0/Threelab.API.User.sourcelink.json
/.vs/src.generated/v17/.suo
/Threelab.API.User/bin/Debug/net8.0/Threelab.API.User.dll
/Threelab.Domain/bin/Debug/net8.0/Threelab.Domain.dll
/Threelab.Domain/bin/Debug/net8.0/Threelab.Domain.pdb
/Threelab.Domain/obj/Debug/net8.0/ref/Threelab.Domain.dll
/Threelab.Domain/obj/Debug/net8.0/refint/Threelab.Domain.dll
/Threelab.Domain/obj/Debug/net8.0/Threelab.Domain.AssemblyInfo.cs
/Threelab.Domain/obj/Debug/net8.0/Threelab.Domain.AssemblyInfoInputs.cache
/Threelab.Domain/obj/Debug/net8.0/Threelab.Domain.dll
/Threelab.Domain/obj/Debug/net8.0/Threelab.Domain.pdb
/Threelab.Domain/obj/Debug/net8.0/Threelab.Domain.sourcelink.json
/Threelab.Infrastructure/bin/Debug/net8.0/Threelab.Domain.dll
/Threelab.Infrastructure/bin/Debug/net8.0/Threelab.Domain.pdb
/Threelab.Infrastructure/bin/Debug/net8.0/Threelab.Infrastructure.dll
/Threelab.Infrastructure/bin/Debug/net8.0/Threelab.Infrastructure.pdb
/Threelab.Infrastructure/obj/Debug/net8.0/ref/Threelab.Infrastructure.dll
/Threelab.Infrastructure/obj/Debug/net8.0/refint/Threelab.Infrastructure.dll
/Threelab.Infrastructure/obj/Debug/net8.0/Threelab.Infrastructure.AssemblyInfo.cs
/Threelab.Infrastructure/obj/Debug/net8.0/Threelab.Infrastructure.AssemblyInfoInputs.cache
/Threelab.Infrastructure/obj/Debug/net8.0/Threelab.Infrastructure.csproj.AssemblyReference.cache
/Threelab.Infrastructure/obj/Debug/net8.0/Threelab.Infrastructure.dll
/Threelab.Infrastructure/obj/Debug/net8.0/Threelab.Infrastructure.pdb
/Threelab.Infrastructure/obj/Debug/net8.0/Threelab.Infrastructure.sourcelink.json
/Threelab.Service/bin/Debug/net8.0/Threelab.Domain.dll
/Threelab.Service/bin/Debug/net8.0/Threelab.Domain.pdb
/Threelab.Service/bin/Debug/net8.0/Threelab.Infrastructure.dll
/Threelab.Service/bin/Debug/net8.0/Threelab.Infrastructure.pdb
/Threelab.Service/bin/Debug/net8.0/Threelab.Service.dll
/Threelab.Service/bin/Debug/net8.0/Threelab.Service.pdb
/src.generated.sln
/Threelab.Service/obj/Debug/net8.0/ref/Threelab.Service.dll
/Threelab.Service/obj/Debug/net8.0/refint/Threelab.Service.dll
/Threelab.Service/obj/Debug/net8.0/Threelab.Service.AssemblyInfo.cs
/Threelab.Service/obj/Debug/net8.0/Threelab.Service.AssemblyInfoInputs.cache
/Threelab.Service/obj/Debug/net8.0/Threelab.Service.csproj.AssemblyReference.cache
/Threelab.Service/obj/Debug/net8.0/Threelab.Service.dll
/Threelab.Service/obj/Debug/net8.0/Threelab.Service.pdb
/Threelab.Service/obj/Debug/net8.0/Threelab.Service.sourcelink.json
/.vs/src.generated/config/applicationhost.config
/.vs/src.generated/FileContentIndex/186bab18-26ff-4f98-b0a7-d9079b17d1e8.vsidx
/.vs/src.generated/FileContentIndex/30812ecd-7f0e-4602-920d-77b5ccff01fd.vsidx
/.vs/src.generated/FileContentIndex/5c79b525-772f-47e1-9a5f-a81f575f05d0.vsidx
/.vs/src.generated/FileContentIndex/90ad6949-3fdb-47a2-ab6e-65f8fa4f0271.vsidx
/.vs/src.generated/FileContentIndex/b8ac93b8-13b3-465d-b3b6-b4eabbea1b6f.vsidx
/.vs/src.generated/FileContentIndex/ccac8c52-dff3-420a-acf0-830477f8b9a7.vsidx
/.vs/src.generated/FileContentIndex/d8bf5e51-3843-4883-acdd-6a6798f781cd.vsidx
/.vs/src.generated/v17/.futdcache.v2
/.vs/src.generated/FileContentIndex/44f82f5d-656e-4d30-ad95-129c20aaabd0.vsidx
/.vs/src.generated/FileContentIndex/519bc120-b9f8-44f3-8088-2287d506f4b6.vsidx
/.vs/src.generated/FileContentIndex/7ae38891-1f6f-4a44-b69d-518baa3851e2.vsidx
/.vs/src.generated/FileContentIndex/af9cf777-4c4f-4665-ac7e-028116671fc2.vsidx
/.vs/src.generated/FileContentIndex/c41d7033-f370-4f0f-8528-21dcc611b89b.vsidx
/.vs/src.generated/FileContentIndex/e174f48e-5bfd-4320-bda9-aa5f4bc82fc0.vsidx
/.vs/src.generated/FileContentIndex/a071fd47-8b8a-4a3d-9a66-99cbb229a398.vsidx
/Threelab.API.Account/bin/Debug/net6.0/appsettings.Development.json
/Threelab.API.Account/bin/Debug/net6.0/appsettings.json
/Threelab.API.Account/bin/Debug/net6.0/AutoMapper.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/Threelab.API.Account/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/Threelab.API.Account/bin/Debug/net6.0/Threelab.API.Account.deps.json
/Threelab.API.Account/bin/Debug/net6.0/Threelab.API.Account.dll
/Threelab.API.Account/bin/Debug/net6.0/Threelab.API.Account.exe
/Threelab.API.Account/bin/Debug/net6.0/Threelab.API.Account.pdb
/Threelab.API.Account/bin/Debug/net6.0/Threelab.Application.dll
/Threelab.API.Account/bin/Debug/net6.0/Threelab.Application.pdb
/Threelab.API.Account/bin/Debug/net6.0/Threelab.Domain.dll
/Threelab.API.Account/bin/Debug/net6.0/Threelab.Domain.pdb
/Threelab.API.Account/bin/Debug/net6.0/Threelab.Infrastructure.dll
/Threelab.API.Account/bin/Debug/net6.0/Threelab.Infrastructure.pdb
/Threelab.API.Account/bin/Debug/net6.0/Threelab.Service.dll
/Threelab.API.Account/bin/Debug/net6.0/Threelab.Service.pdb
/Threelab.API.Account/obj/Debug/net6.0/ref/Threelab.API.Account.dll
/Threelab.API.Account/obj/Debug/net6.0/refint/Threelab.API.Account.dll
/Threelab.API.Account/obj/Debug/net6.0/Threelab.API.Account.AssemblyInfo.cs
/Threelab.API.Account/obj/Debug/net6.0/Threelab.API.Account.AssemblyInfoInputs.cache
/Threelab.API.Account/obj/Debug/net6.0/Threelab.API.Account.assets.cache
/Threelab.API.Account/obj/Debug/net6.0/Threelab.API.Account.csproj.AssemblyReference.cache
/Threelab.API.Account/obj/Debug/net6.0/Threelab.API.Account.csproj.CoreCompileInputs.cache
/Threelab.API.Account/obj/Debug/net6.0/Threelab.API.Account.csproj.FileListAbsolute.txt
/Threelab.API.Account/obj/Debug/net6.0/Threelab.API.Account.dll
/Threelab.API.Account/obj/Debug/net6.0/Threelab.API.Account.pdb
/Threelab.API.Account/obj/Debug/net6.0/Threelab.API.Account.sourcelink.json
/Threelab.API.Account/obj/project.assets.json
/Threelab.API.Account/obj/project.nuget.cache
/Threelab.API.Account/obj/Threelab.API.Account.csproj.nuget.dgspec.json
/Threelab.API.Account/obj/Debug/net6.0/apphost.exe
/Threelab.API.User/bin/Debug/net8.0/AutoMapper.dll
/Threelab.API.User/bin/Debug/net8.0/Threelab.API.User.deps.json
/Threelab.API.User/bin/Debug/net8.0/Threelab.Application.dll
/Threelab.API.User/bin/Debug/net8.0/Threelab.Application.pdb
/Threelab.API.User/obj/Debug/net8.0/Threelab.API.User.assets.cache
/Threelab.API.User/obj/Debug/net8.0/Threelab.API.User.csproj.CoreCompileInputs.cache
/Threelab.API.User/obj/Debug/net8.0/Threelab.API.User.csproj.FileListAbsolute.txt
/Threelab.API.User/obj/project.assets.json
/Threelab.API.User/obj/project.nuget.cache
/Threelab.API.User/obj/Threelab.API.User.csproj.nuget.dgspec.json
/Threelab.Application/bin/Debug/net6.0/Threelab.Application.deps.json
/Threelab.Application/bin/Debug/net6.0/Threelab.Application.dll
/Threelab.Application/bin/Debug/net6.0/Threelab.Application.pdb
/Threelab.Application/bin/Debug/net6.0/Threelab.Domain.dll
/Threelab.Application/bin/Debug/net6.0/Threelab.Domain.pdb
/Threelab.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Threelab.Application/obj/Debug/net6.0/ref/Threelab.Application.dll
/Threelab.Application/obj/Debug/net6.0/refint/Threelab.Application.dll
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.AssemblyInfo.cs
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.AssemblyInfoInputs.cache
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.assets.cache
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.csproj.AssemblyReference.cache
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.csproj.BuildWithSkipAnalyzers
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.csproj.CopyComplete
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.csproj.CoreCompileInputs.cache
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.csproj.FileListAbsolute.txt
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.dll
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.GeneratedMSBuildEditorConfig.editorconfig
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.GlobalUsings.g.cs
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.pdb
/Threelab.Application/obj/Debug/net6.0/Threelab.Application.sourcelink.json
/.vs/src.generated/FileContentIndex/81130f4f-9c11-4203-ae6b-d95e3f1cf199.vsidx
/.vs/src.generated/FileContentIndex/f0ec9bac-1343-4e8d-aed0-546a1bc53b1b.vsidx
/Threelab.Domain/obj/Debug/net6.0/Threelab.Domain.AssemblyInfo.cs
/Threelab.Domain/obj/Debug/net6.0/Threelab.Domain.AssemblyInfoInputs.cache
/Threelab.Infrastructure/obj/Debug/net6.0/Threelab.Infrastructure.AssemblyInfo.cs
/Threelab.Infrastructure/obj/Debug/net6.0/Threelab.Infrastructure.AssemblyInfoInputs.cache
/Threelab.Service/obj/Debug/net6.0/Threelab.Service.AssemblyInfo.cs
/Threelab.Service/obj/Debug/net6.0/Threelab.Service.AssemblyInfoInputs.cache
/Threelab.Service/obj/Debug/net6.0/Threelab.Service.csproj.AssemblyReference.cache
/.vs/src.generated/FileContentIndex/0de17af2-d4f5-42c4-b613-60747773bddd.vsidx
/.vs/src.generated/FileContentIndex/692004b5-e8c6-4347-957e-d3ff571f644b.vsidx
/.vs/src.generated/FileContentIndex/97562958-3552-494c-8232-bccc2b9b8fed.vsidx
/.vs/src.generated/FileContentIndex/a855da28-3cc7-4412-aed4-0a2d68d1a806.vsidx
/.vs/src.generated/FileContentIndex/dba4cfaf-0003-4684-bee4-87f10ab9f01c.vsidx
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.DotNet.PlatformAbstractions.dll
/Threelab.API.Account/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/Threelab.API.Account/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
/Threelab.API.Account/bin/Debug/net6.0/Newtonsoft.Json.dll
/Threelab.API.Account/obj/Debug/net6.0/Threelab.API.Account.MvcApplicationPartsAssemblyInfo.cs
/Threelab.API.Account/obj/Threelab.API.Account.csproj.nuget.g.props
/Threelab.Application/obj/project.assets.json
/Threelab.Application/obj/project.nuget.cache
/Threelab.Application/obj/Threelab.Application.csproj.nuget.dgspec.json
/Threelab.Application/obj/Threelab.Application.csproj.nuget.g.props
/Threelab.Application/obj/Threelab.Application.csproj.nuget.g.targets
/Threelab.Domain/bin/Debug/net6.0/Threelab.Domain.dll
/Threelab.Domain/bin/Debug/net6.0/Threelab.Domain.pdb
/Threelab.Domain/obj/Debug/net6.0/Threelab.Domain.pdb
/Threelab.Domain/obj/Debug/net6.0/Threelab.Domain.sourcelink.json
/Threelab.Domain/obj/Debug/net6.0/Threelab.Domain.csproj.CoreCompileInputs.cache
/Threelab.Domain/obj/Debug/net6.0/ref/Threelab.Domain.dll
/Threelab.Domain/obj/Debug/net6.0/refint/Threelab.Domain.dll
/Threelab.Domain/obj/Debug/net6.0/Threelab.Domain.dll
/Threelab.Infrastructure/bin/Debug/net6.0/Threelab.Application.pdb
/Threelab.Infrastructure/bin/Debug/net6.0/Threelab.Domain.dll
/Threelab.Infrastructure/bin/Debug/net6.0/Threelab.Domain.pdb
/Threelab.Infrastructure/bin/Debug/net6.0/Threelab.Infrastructure.deps.json
/Threelab.Infrastructure/bin/Debug/net6.0/Threelab.Infrastructure.dll
/Threelab.Infrastructure/bin/Debug/net6.0/Threelab.Infrastructure.pdb
/Threelab.Infrastructure/bin/Debug/net6.0/Threelab.Application.dll
/Threelab.Infrastructure/obj/Debug/net6.0/ref/Threelab.Infrastructure.dll
/Threelab.Infrastructure/obj/Debug/net6.0/refint/Threelab.Infrastructure.dll
/Threelab.Infrastructure/obj/Debug/net6.0/Threelab.Infrastructure.assets.cache
/Threelab.Infrastructure/obj/Debug/net6.0/Threelab.Infrastructure.csproj.AssemblyReference.cache
/Threelab.Infrastructure/obj/Debug/net6.0/Threelab.Infrastructure.csproj.CoreCompileInputs.cache
/Threelab.Infrastructure/obj/Debug/net6.0/Threelab.Infrastructure.dll
/Threelab.Infrastructure/obj/Debug/net6.0/Threelab.Infrastructure.pdb
/Threelab.Infrastructure/obj/Debug/net6.0/Threelab.Infrastructure.sourcelink.json
/Threelab.Infrastructure/obj/project.assets.json
/Threelab.Infrastructure/obj/project.nuget.cache
/Threelab.Infrastructure/obj/Threelab.Infrastructure.csproj.nuget.dgspec.json
/Threelab.Infrastructure/obj/Threelab.Infrastructure.csproj.nuget.g.props
